.header {
    // .header__box

    &__box {
    }

    // .header__text

    &__text {
        padding: 10px;
        font-size: 30px;

        span {
            color: var(--var-color3);    
        }
    }
}
